{
  "bin": {
    "ralph-init": "./bin/ralph-init",
    "ralph-help": "./bin/ralph-help",
    "ralph": "./bin/ralph",
    "ralph-once": "./bin/ralph-once",
    "ralph-stop": "./bin/ralph-stop",
    "ralph-add": "./bin/ralph-add",
    "ralph-tickets": "./bin/ralph-tickets",
    "ralph-hooks": "./bin/ralph-hooks"
  }
}
